.main-header {
    height: 70vh;
    background: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.heading {
    display: block;
    margin: auto;
    text-align: center;
    
}

h1 {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: #3A3A3A;
    text-align: center;
    letter-spacing: 12px;
}

h1 span {
    font-size: 0.5em;
    vertical-align: middle;
    margin-right: 20px;
}

